$green: #00FF00;
$red: red;

.marginTop {
  margin-top: 2em;
}

.disconnected {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: $red;
}

.connected {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: $green;
}
